#NODE
NODE_ENV=development

#DB DOCKER
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DBNAME=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#DB PRISMA
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DBNAME}

SESSION_SECRET=

#MINIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_ENDPOINT=127.0.0.1